@charset UTF-8;

/**
* 主体样式
* @author FenG
*/
body {font: normal 12px/1.6em 'Microsoft YaHei',Tahoma,simsun;color: #666;min-width: 1240px;margin: 0 auto;background: #f7f8f8;}
/*头部*/
#page-header {height: 695px;background: url(../images/pic-big-v8.jpg) no-repeat center 80px;overflow: hidden;}
.page-nav {height: 80px;background: #000;}
.page-nav-cont {width: 1010px;margin: 0 auto;padding-left: 230px;position: relative;}
.page-nav-cont li {float: left;width: 144px;height: 80px;}
.page-nav-cont a {display: block;margin-top: 20px;text-align: center;font-size: 16px;color: #e1e1e1;}
.page-nav-cont div {font-size: 10px;color: #575757;}

/*头部子导航*/
.sub-nav {position: absolute;top: 80px;left: 0;width: 100%;background: #000;background: rgba(0,0,0,0.7);z-index: 5;padding: 20px 0 50px 0;}
.sub-nav-cont {width: 1010px;height: 165px;padding-left: 230px;margin: 0 auto;}
.sub-nav-cont li {float: left;width: 144px;}
.sub-nav-cont a {display: block;width: 144px;height: 28px;line-height: 28px;color: #e1e1e1;font-size: 14px;text-align: center;}
.sub-nav-cont a:hover {color: #16c2a2;}
/*头部内容*/
.page-header-cont {position: relative;width: 1240px;height:615px;margin: 0 auto;}
.page-logo {background-position: 0 -165px;position: absolute;z-index: 2;width: 230px;height: 130px;top: -80px;}
.page-logo a {display: block;width: 100%;height: 100%;}
.page-Bvideo {position: absolute;width: 1920px;height: 614px;left: 50%;z-index: 1;margin-left: -960px;}
.page-about {position: relative;height: 385px;padding-top: 115px;z-index: 2;}
.page-about-name {position: relative;height: 50px;line-height:50px;margin-bottom: 10px;font-size: 50px;color: #00ab88;background: -webkit-linear-gradient(top,#1fffe7,#00ab88);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.about-nameLayout {position: absolute;z-index: -1;left: 0;text-shadow: 0 0 10px #000;}
.page-about-desc {width: 500px;height: 48px;font-size: 14px;color: #e3e3e3;margin-bottom: 25px;text-shadow: 0 0 5px #000;}
.page-about-video {position: relative;z-index: 2;width: 220px;height: 120px;margin-bottom: 25px;background: url(../images/pic-small-v8.jpg) no-repeat center;}
.about-Svideo {width: 220px;height: 120px;}
.about-Svideo-play {position: absolute;z-index: 1;background: url(../images/bg-play.png) no-repeat center;width: 220px;height: 120px;top: 0;left: 0;}
.page-about-show {display: block;width: 155px;height: 36px;line-height: 36px;border: 2px solid #05ad8d;font-size: 14px;color: #1bf6cc;text-align: center;background: #000;background: rgba(0,0,0,0.75);}
.page-version {position: absolute;bottom: 130px;right: 0;z-index: 2;font-size: 14px;}
.page-version-cont {color: #888787;}
.page-version-num {color: #1bf6cc;margin-right: 10px;}
.page-version-link {display: inline-block;height: 22px;line-height: 22px;text-align: center;border: 2px solid #05ad8d;font-size: 12px;background: #000;background: rgba(0,0,0,0.60);color: #1bf6cc;padding: 0 15px;}
.page-header-guide{position: relative;z-index: 2;height: 115px;background-position: 0 -472px;}
.header-guide-down,.header-guide-list a {float: left;width: 112px;height: 100px;padding-top: 15px;text-align: center;}
.header-guide-list a:hover {background-position: -668px -357px;text-decoration: none;}
.header-guide-down {position: relative;width: 220px;}
.icon-guide-package {background-position: 0 0;}
.icon-guide-video {background-position: -40px 0}
.icon-guide-match {background-position: -80px 0}
.icon-guide-info {background-position: -120px 0}
.icon-guide-khd {background-position: -200px 0}
.header-guide-list .guide {display: block;color: #fff;font-size: 16px;}
.header-guide-list .desc {display: block;color: #5e677f;font-size: 12px;}
.header-guide-login {float: left;width: 460px;height: 115px;}
.guide-login-box {padding: 17px 0 0 20px;color: #C1CFE8;}
.loginheader {width: 80px;height: 80px;margin-right: 25px;float: left;}
.guide-login-box .para0 {font-size: 16px;color: #fff;}
.guide-login-box .l-in {color: #0FC;margin-left: 5px;}
.guide-login-box .para1 {margin-top: 15px;}
.guide-login-box .para2 {color: #fff;}

/*主体*/
.page-main {position: relative;z-index: 1;padding-top: 28px;width: 1240px;margin: 0 auto;}
.page-main-l {float: left;width: 780px;}

/*轮播图*/
.mian-show {position: relative;width: 780px;height: 370px;overflow: hidden;}
.main-show-list {position: relative;width: 3900px;height: 330px;overflow: hidden;}
.main-show-item {float: left;width: 780px;height: 330px;}
.main-show-item a {display: block;width: 780px;height: 330px;}
.mian-showTrigger {width: 100%;height: 40px;background: #efefef;}
.mian-showTrigger li{float: left;width: 156px;height: 40px;line-height: 40px;cursor: pointer;font-size: 14px;text-align: center;}

/*视频中心*/
.main-videoCenter {height: 40px;margin-bottom: 15px;}
.icon-video {background-position: -40px -40px;}
.icon-submit {background-position: -567px -46px;vertical-align: middle;width: 24px;height: 24px;}
.aside-more:hover {border-color: #00ab88;color: #00ab88;background: none;}
.video-nav li {width: 130px;}

/*视频演示*/
.videoList {position: relative;height: 320px;padding-top: 30px;margin-bottom: 28px;margin-right: -20px;overflow: hidden;}
.videoItem {width: 180px;margin-right: 20px;margin-bottom: 20px;float: left;position: relative;}
.videoLink {position: relative;display: block;width: 180px;height: 100px;margin-bottom: 7px;}
.videoPic {width: 180px;height: 100px}
.videoShadow1 {position: absolute;left: 0;bottom: 0;display: block;width: 100%;height: 20%;background: rgba(0,0,0,0.5);}
.videoAbout {position: absolute;width: 95%;left: 5px;color: #ddd;height: 20px;bottom: 0;}
.videoTime {float: right;}
.videoShadow2 {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.3);display: none;}
.videoIcon {background: url(../images/bg-icon-v.png) no-repeat center;width: 65px;height: 65px;position: absolute;left: 50%;margin-left: -32.5px;top: 15px;cursor: pointer;display: none;}
.videoCont {height: 40px;line-height: 20px;overflow: hidden;}
.videoCont-desc {display: block;font-size: 14px;color: #333;}
#videoShow {display: none;}
.videoMes-moreLink {display: block;background: #eaeaea;height: 40px;text-align: center;line-height: 40px;font-size: 14px;color: #666;}
.videoMes-moreLink span {color: #00ab88;padding: 0 3px;}

/*赛事中心*/
.icon-match {background-position: -80px -40px;}
.match-nav li {width: 130px;}
.main-match-cont {padding: 20px 0;}
.match-cont-aside {float: left;width: 180px;margin-right: 20px;}
.match-cont-asideLink img {display: block;width: 180px;height: 225px;}
.match-cont-asideLink2 {background-position: 0 -346px;display: block;margin-top: 10px;width: 180px;height: 40px;line-height: 40px;font-size: 14px;text-align: center;color: #0b4c3f;}
.match-news-title {display: block;line-height: 30px;margin-bottom: 10px;font-size: 26px;color: #00A686;}
.match-cont-news {overflow: hidden;position: relative;}
.match-cont-news .cont {font-size: 14px;line-height: 1.5;}
.match-news-num {position: absolute;top: 0;right: 10px;height: 66px;text-align: center;color: #666;font-size: 14px;}
.match-news-num .numBig {font-size: 36px;color: #00a986;display: block;padding: 10px 0 5px;margin-bottom: 10px;}
.match-news-contList {margin-top: 15px;padding-top: 15px;border-top: 1px solid #e0e0e0;}
.match-news-contList .link-col:hover {color: #00a684;}

/*客服专区*/
.service-nav li {width: 130px;}
.icon-service {background-position: -640px -40px;}
.service-aside-more {float: right;}
.service-other {float: right;}
.service-other a {display: inline-block;margin-left: 30px;font-size: 14px;color: #666;}
.mian-service-cont {padding: 20px 0;}
.mian-service-contList .allItem {float: left;width: 39%;padding-bottom: 2px;}

/*主体右侧*/
.page-main-r {float: right;width: 400px;}
.main-news {position: relative;height: 370px;}
.news-nav li {width: 90px;font-size: 18px;}
.news-aside-more {position: absolute;top: 0;right: 0;}

/*新闻公告*/
.news-content {padding-top: 12px;height: 278px;}
.news-content .newsFirst {font-size: 20px;height: 46px;line-height:46px;margin-bottom: 5px;text-align: center;}
.newsFirst a {color: #00a684;}
.newsItem {height: 26px;line-height: 26px;padding: 3px 0;}
.newsItem-link {position: relative;display: block;height: 26px;line-height: 26px;padding: 0 55px;font-size: 14px;color: #333;overflow: hidden;}
.newsItem-link-type {position: absolute;top: 0;left: 0;width: 46px;height: 22px;line-height: 22px;background: #ebebeb;border: 2px solid #ebebeb;border-radius: 15px;text-align: center;color: #a4a4a4;}
.news-tips {width: 100%;height: 40px;line-height: 40px;background: #efefef;font-size: 14px;text-align: center;}
.news-tips a {display: block;color: #797979;}
.news-tips a:hover {background: #e8e6e6;}
.newsItem:hover a {color: #00a684;}
.newsItem:hover .date {color: #00a684;}

/* 英雄/皮肤 */
.icon-heroSkin {background-position: -160px -40px;}
.heroSkin-nav li {width: 133px;}
.heroSkin-nav {margin-bottom: 15px;}
.heroSkin-show {height: 190px;margin-bottom: 20px;}
.heroSkin-list {margin-right: -5px;position: relative;}
.heroSkin-list a {float: left;width: 76px;height: 76px;margin: 0 5px 5px 0;overflow: hidden;position: relative;}
.heroSkin-list img {width: 90px;height: 90px;display: block;margin: -7px 0 0 -7px;}
.heroSkin-freeTime {text-align: right;color: #9F9F9F;margin-bottom: 22px;}
.hoverBgd {position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: #029f7f;background: rgba(2,159,127,0.8);cursor: pointer;z-index: 1;display: none;}
.heroSkin-list .hoverBgd-firstName {position: absolute;width: 66px;text-align: center;top: 30px;;left: 5px;line-height: 14px;padding: 0;}
.heroSkin-list a:hover .hoverBgd {display: block;}
.hoverBgd-firstName {display: block;padding-top: 18px;font-size: 14px;color: #fff;text-align: center;}
.heroSkin-newHero {height: 190px;margin-bottom: 20px;}
.heroSkin-newHero-list {margin-right: -5px;}
.heroSkin-newHero-list a {float: left;position: relative;width: 76px;height: 165px;margin-right: 5px;}
.heroSkin-newHero-list img {display: block;width: 76px;height: 165px;}
.heroSkin-newHero-list a:hover .hoverBgd {display: block;}
.heroSkin-newHero-list .hoverBgd-firstName {width: 66px;padding: 30px 5px 10px 5px;text-align: center;}
.heroSkin-newHero-list .hoverBgd-lastName {display: block;text-align: center;font-size: 12px;color: #26F2C8;}

/*快速入口*/
.main-entrance {margin-bottom: 40px;}
.icon-entrance {background-position: -200px -40px}
.main-entrance-list {margin-right: -8px;}
.main-entrance-list a {float: left;width: 94px;height: 62px;padding-top: 3px;margin: 0 8px 8px 0;background: #fefefe;font-size: 14px;color: #555;text-align: center;box-shadow: 0 0 2px #ddd;}
.icon-entrance-one {background-position: -280px -40px;}
.icon-entrance-two {background-position: -320px -40px;}
.icon-entrance-three {background-position: -360px -40px;}
.icon-entrance-four {background-position: -680px -40px;}
.icon-entrance-five {background-position: -120px -40px;}
.icon-entrance-six {background-position: -400px -40px;}
.icon-entrance-seven {background-position: -480px -40px;}
.icon-entrance-eight {background-position: -520px -40px;}
.main-entrance-list a:hover .icon-entrance-one {background-position: -280px -80px;}
.main-entrance-list a:hover .icon-entrance-two {background-position: -320px -80px;}
.main-entrance-list a:hover .icon-entrance-three {background-position: -360px -80px;}
.main-entrance-list a:hover .icon-entrance-four {background-position: -680px -80px;}
.main-entrance-list a:hover .icon-entrance-five {background-position: -120px -80px;}
.main-entrance-list a:hover .icon-entrance-six {background-position: -400px -80px;}
.main-entrance-list a:hover .icon-entrance-seven {background-position: -480px -80px;}
.main-entrance-list a:hover .icon-entrance-eight {background-position: -520px -80px;}
.main-entrance-list a:hover {color: #029f7f;}

/*活动中心*/
.icon-activity {background-position: -240px -40px;}
.activity-pic {width: 145px;position: relative;overflow: hidden;}
.activity-pic li,.activity-pic-img img {width: 145px;height: 173px;}
.activity-pic-img {position: relative;}
.activity-pic-name {position: absolute;top: 125px;font-size: 14px;width: 140px;left: 10px;z-index: 2;color: #fff;}
.activity-pic-bgd {background: #000;background: rgba(0,0,0,0.6);position: absolute;display: block;width: 145px;height: 53px;left: 0;top: 120px;z-index: 1;}
.activity-moveCont {position: absolute;top: 320px;left: 0;width: 100%;height: 291px;cursor: pointer;-webkit-transition: all 100ms linear;z-index: 5;}
.activity-moveCont-tit,.activity-moveCont-txt,.activity-moveCont-lnk {position: absolute;cursor: pointer;z-index: 5;}
.activity-moveCont-tit,.activity-moveCont-txt {left: 10px;}
.activity-moveCont-tit {top: 5px;font-size: 16px;color: #5AFEDF;line-height: 30px;}
.activity-moveCont-txt {top: 35px;width: 78%;height: 80px;line-height: 20px;color: #fff;}
.activity-moveCont-lnk {width: 100%;height: 24px;text-align: left;text-indent: 2em;bottom: 0;font-size: 14px;color: #fff;top: 135px;}
.activity-moveCont .activity-pic-bgd {width: 145px;height: 291px;position: absolute;top: 0;left: 0;z-index: 3;background: #019F7F;background: rgba(1,159,127,0.9);}
.activity-pic:hover .activity-moveCont {transform: translateY(-320px);}
.activity-list {width: 240px;}
.activity-list .allItem {padding-right: 0;margin-bottom: 1px;height: 24px;line-height: 24px;}
.activity-list-link {display: block;height: 21px;line-height: 21px;padding: 0 0 0 10px;overflow: hidden;color: #000;}
.activity-list-link p {float: left;width: 73%;height: 21px;line-height: 21px;overflow: hidden;}
.activity-list-link .about {float: right;width: 25%;text-align: center;font-size: 12px;}
.activity-list-link .about,.activity-list-link:hover {background: #00A887;color: #fff;border-radius: 15px;}
.oldLink .about,.oldLink:hover {background: #EBEBEB;color: #9A9898;}
.oldLink:hover {color: #000;}
/*广告*/
.mian-ad {padding: 30px 0 25px;}

/*网页底部*/
.page-footer {padding: 30px 0;}
.footer-warp {width: 1240px;margin: 0 auto;color: #A5A5A5;}
.footer-warp-app,.footer-warp-tips {width: 34%;float: left;}
.footer-app-pic,.warp-b-pic {background: url(../images/footlogo.png) no-repeat;}
.footer-app-pic {background-position: -264px 0;float: left;width: 67px;height: 67px;margin-right: 20px;}
.page-footer .fb {color: #404040;font-size: 14px;line-height: 25px;}
.warp-tips-list li {float: left;margin-right: 10px;}
.footer-warp-partner {float: right;margin-top: 6px;border: 3px solid #E2E2E2;}
.warp-partner-sel {width: 278px;height: 36px;color: #999;}
.footer-warp-b {width: 100%;margin-top: 10px;padding-top: 22px;border-top: 3px solid #d0d0d0;}
.warp-b-pic {background-position: 0 0;width: 257px;height: 50px;}
.footer-warp-b a {color: #818181;}
.footer-warp-b span {font-size: 12px;color: #e4e4e4;padding: 0 5px;}

